<div class="wrapper">
        <div class="parallax filter-gradient blue" data-color="blue">
            <div class="parallax-background">
                <img class="parallax-background-image" src="assets/img/background.jpg">
            </div>
            <div class= "container">
                <div class="row">
                    <div class="col-md-5 hidden-xs">
                        <div class="parallax-image">
                            <img class="phone" src="assets/img/img_header.png" style="margin-top: 20px"/>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        <div class="description">
                            <h2>Game Helper Tool</h2>
                            <br>
                            <h5>Be amazed by the best automated tool on the web! Your game deserves an amazing tool to help you achive your goals! Easy installation, fully costumizable with many included features.</h5>
                        </div>
                        <div class="buttons">
                            <button class="btn btn-simple btn-neutral">
                            <i class="fa fa-windows"><h5>Win32</h5></i>
                            </button>
                            <button class="btn btn-simple btn-neutral">
                                <i class="fa fa-windows"><h5>Win64</h5></i>
                            </button>
                            <button class="btn btn-simple btn-neutral">
                                <i class="fa fa-linux"><h5>Linux/MacOs</h5></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-gray section-clients">
            <div class="container text-center">
                <h4 class="header-text">Secure and reliable service</h4>
                <p>
                    - 24/7 Support<br>
                    - Dedicated servers<br>
                    - Verified payment system<br>
                    - Constant updates <br>
                    - User requested features <br>
                </p>
        </div>
        <div class="section section-presentation">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="description">
                            <h4 class="header-text">Faster than ever</h4>
                            <p>Packed with the finest algorithms for lightning fast response. Easy-to-use interface. Fully costumizable.</p>
                            <p>State of the art features that include: <br><br> - Healer (potions/items/spells) <br> - Rune Maker <br> - Ammo Refiller <br> - Automatic Actions (rings/haste/utura)
                            <p>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1 hidden-xs">
                        <img src="assets/img/img_features.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-demo">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div id="description-carousel" class="carousel fade" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="assets/img/carousel_1.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="assets/img/carousel_2.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="assets/img/carousel_3.jpg" alt="">
                                </div>
                            </div>
                            <ol class="carousel-indicators carousel-indicators-blue">
                                <li data-target="#description-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#description-carousel" data-slide-to="1" class=""></li>
                                <li data-target="#description-carousel" data-slide-to="2" class=""></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <h4 class="header-text">Easy to install, <br> Ready in 5 minutes.</h4>
                        <p>
                            Five Steps <br>
                            1# - Create your account. <br>
                            2# - Download client. <br>
                            3# - Select your payment method. <br>
                            4# - Enter licence key. <br>
                            5# - Log in and play! <br>
                        </p>
                        <a href="#" id="get started" class="btn btn-fill btn-info" data-button="info">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>