#priceContainer {
    min-width: 900px;
}

.detailData {
    box-shadow: 5px 10px 8px #888888;
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    background-image: url("src\assets\img\noise3.png");
  }

.detailTitle{
    box-shadow: 5px 10px 8px #888888;
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    background-image: url("src\assets\img\noise2.png");
}

.editbtn{
    height: 50px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: -10px;
}

input{
    font-weight: bold;
}

.savebtn{
    margin-top: 20px;
    width: 35%;
    height: 50px;
    font-weight: bold;
    font-size: medium;
}