<div class="wrapper">
    <div class="parallax filter-gradient blue" data-color="blue">
        <div class="parallax-background">
            <img class="parallax-background-image" src="assets/img/background.jpg">
        </div>
        <div class= "container">
            <div class="row">
                <div class="col-md-5 hidden-xs">
                    <div class="parallax-image">
                        <img class="phone" src="assets/img/img_header.png" style="margin-top: 20px"/>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <div class="description">
                        <h2>Welcome {{user.first_name}}</h2>
                        <br>
                        <h5>Your licence is valid for {{licenceDays}} days</h5>
                    </div>
                    <div class="buttons">

                        <button class="btn btn-simple btn-neutral">
                            <i class="fa fa-windows"><h5>Renew Licence</h5></i>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-presentation">
        <h2 class="header-text" style="text-align: center; margin-bottom: 100px;">Account Details</h2>
        <div class="col-sm-2" id="emptyDiv"></div>
        <div class ="col-sm-3 col-xs-5">
            <div class="shadow p-3 mb-5 bg-white rounded detailTitle" style="float: left;" >
             <a href="#"><h4 class="header-text" style="text-align: center; margin-top: 10px;">First Name</h4></a>
            </div>
            <div class="shadow p-3 mb-5 bg-white rounded detailTitle" style="float: left;" >
             <a href="#"><h4 class="header-text" style="text-align: center; margin-top: 10px;">Last Name</h4></a>
            </div>
            <div class="shadow p-3 mb-5 bg-white rounded detailTitle" style="float: left;" >
                <a href="#"><h4 class="header-text" style="text-align: center; margin-top: 10px;">Email</h4></a>
            </div>
            <div class="shadow p-3 mb-5 bg-white rounded detailTitle" style="float: left;" >
                <a href="#"><h4 class="header-text" style="text-align: center; margin-top: 10px;">Password</h4></a>
            </div>
            <div class="shadow p-3 mb-5 bg-white rounded detailTitle" style="float: left;" >
                <a href="#"><h4 class="header-text" style="text-align: center; margin-top: 10px;">Adress</h4></a>
            </div>
            <div class="shadow p-3 mb-5 bg-white rounded detailTitle" style="float: left;" >
                <a href="#"><h4 class="header-text" style="text-align: center; margin-top: 10px;">City</h4></a>
            </div>
            <div class="shadow p-3 mb-5 bg-white rounded detailTitle" style="float: left;" >
                <a href="#"><h4 class="header-text" style="text-align: center; margin-top: 10px;">Country</h4></a>
            </div>
        </div>
        <div class ="col-sm-6 col-xs-6">
            <form [formGroup]="accountDetails" #ngForm="ngForm" (ngSubmit)="onSubmit()">
                <input disabled=true id='firstname' type="text" formControlName="firstname" class="shadow p-3 mb-5 bg-white rounded detailData form-control" style="float: left;" />
                <input disabled=true id='lastname' type="text" formControlName="lastname" class="shadow p-3 mb-5 bg-white rounded detailData form-control" style="float: left;" />
                <input disabled=true id='email' type="text" formControlName="email" class="shadow p-3 mb-5 bg-white rounded detailData form-control" style="float: left;" />
                <input disabled=true id='password' type="text" formControlName="password" class="shadow p-3 mb-5 bg-white rounded detailData form-control" style="float: left;" />
                <input disabled=true id='address' type="text" formControlName="address" class="shadow p-3 mb-5 bg-white rounded detailData form-control" style="float: left;"/>
                <input disabled=true id='city' type="text" formControlName="city" class="shadow p-3 mb-5 bg-white rounded detailData form-control" style="float: left;" />
                <input disabled=true id='country' type="text" formControlName="country" class="shadow p-3 mb-5 bg-white rounded detailData form-control" style="float: left;"/>
            </form> 
        </div>
        <div class ="col-sm-1 col-xs-1">
            <div class="editbtn">
                <button (click)="handleChangeClick('firstname')" class="text-danger">change</button>
            </div>
            <div class="editbtn">
                <button (click)="handleChangeClick('lastname')" class="text-danger">change</button>
            </div>
            <div class="editbtn">
                <button (click)="handleChangeClick('email')" class="text-danger">change</button>
            </div>
            <div class="editbtn">
                <button (click)="handleChangeClick('password')" class="text-danger">change</button>
            </div>
            <div class="editbtn">
                <button (click)="handleChangeClick('address')" class="text-danger">change</button>
            </div>
            <div class="editbtn">
                <button (click)="handleChangeClick('city')" class="text-danger">change</button>
            </div>
            <div class="editbtn">
                <button (click)="handleChangeClick('country')" class="text-danger">change</button>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-6, form-group">
            <button class="btn btn-primary saveBtn" (click)="onSubmit(accountDetails.value)">
                Save changes
            </button>
        </div>                       
    </div>
</div>    