<div class="wrapper">
    <div class="parallax filter-gradient blue" data-color="blue">
        <div class="parallax-background">
            <img class="parallax-background-image" src="assets/img/background.jpg">
        </div>
        <div class= "container">
            <div class="row">
                <div class="col-md-5 hidden-xs">
                    <div class="parallax-image">
                        <img class="phone" src="assets/img/img_header.png" style="margin-top: 20px"/>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <div class="description">
                        <h2>It's Free!</h2>
                        <br>
                        <h5>Try it out for free 7 days trial for all new accounts or scroll bellow to select one of our package options</h5>
                    </div>
                    <div class="buttons">

                        <button class="btn btn-simple btn-neutral">
                            <i class="fa fa-windows"><h5>Download</h5></i>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-gray section-clients">
        <div class="container text-center">
            <h4 class="header-text">Secure and reliable service</h4>
            <p>
                - Fast <br>
                - Undetectable <br>
                - Inexpensive <br>
                - 24/7 Support<br>
            </p>
    </div>
    <div class="section section-presentation">
        <h2 class="header-text" style="text-align: center;">Choose a package</h2>
        <div class="container" id="priceContainer">
          <div class="shadow p-3 mb-5 bg-white rounded" id="priceDiv" style="float: left;" >
            <h4 class="header-text" style="text-align: center;">Base</h4><p></p>
            <p style="text-align: center;">Totally undetectable the base package has all you need for 1,99€ per mounth<p>
            <p></p>
            <p></p>
            <ul>
                <li style="margin-top: 50px;">Healer</li>
                <li>Potter</li>
                <li>Eater</li>
            </ul>
          </div>
          <div class="shadow p-3 mb-5 bg-white rounded" id="priceDiv" style="float: left; margin-left: 20px;" >
                <h4 class="header-text" style="text-align: center;">Pro</h4><p></p>
                <p style="text-align: center;">Pro pakage adds new features to base package from 4,99€ per mounth</p>
                <p></p>
                <p></p>
                <ul>
                    <li style="margin-top: 50px;">Healer</li>
                    <li>Potter</li>
                    <li>Eater2</li>
                    <li>anti-paralyze</li>
                    <li>ammo refill</li>
                </ul>
          </div>
          <div class="shadow p-3 mb-5 bg-white rounded" id="priceDiv" style="float: left; margin-left: 20px;" >
                <h4 class="header-text" style="text-align: center;">Ultimate</h4>
                <p style="text-align: center;">Extend the pro package licence 1 year for the ultimate deal of 49,99€</p><br>
                <ul>
                    <li style="margin-top: 50px;">Healer</li>
                    <li>Potter</li>
                    <li>Eater</li>
                    <li>anti-paralyze</li>
                    <li>ammo refill</li>
                </ul>
          </div>
        </div>  
        <div class="container" id="priceContainer">
          <div class="shadow p-3 mb-5 bg-white rounded" id="priceBtn" style="float: left;" >
           <a href="#"><h4 class="header-text" style="text-align: center; margin-top: 10px;">Select</h4></a>
          </div>
          <div class="shadow p-3 mb-5 bg-white rounded" id="priceBtn" style="float: left; margin-left: 20px;" >
                <a href="#"><h4 class="header-text" style="text-align: center; margin-top: 10px;">Select</h4></a>
          </div>
          <div class="shadow p-3 mb-5 bg-white rounded" id="priceBtn" style="float: left; margin-left: 20px;" >
                <a href="#"><h4 class="header-text" style="text-align: center; margin-top: 10px;">Select</h4></a>
          </div>
        </div> 
    </div>        
</div>