
#priceContainer {
    min-width: 900px;
}

#priceDiv {
    box-shadow: 5px 10px 8px #888888;
    height: 500px;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 5px;
    background-image: url("src\assets\img\noise3.png");
  }

#priceBtn{
    box-shadow: 5px 10px 8px #888888;
    height: 50px;
    width: 300px;
    background-image: url("src\assets\img\noise2.png");
} 