<nav class="navbar navbar-transparent navbar-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
                </button>
                <a href="#">
                    <div class="logo-container">
                        <div class="logo">
                            <img src="assets/img/logo.png" alt="Dev Team Logo">
                        </div>
                        <div class="brand">
                            Dev Team XPTO
                        </div>
                    </div>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="example" >
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="" routerLink="/">
                            <i class="fa fa-home"></i>
                                Home
                        </a>
                    </li>                      
                    <li>
                        <a href="" routerLink="/account">
                            <i class="fa fa-user"></i>
                                Account
                        </a>
                    </li>
                    <li>
                        <a href="" routerLink="/pricing">
                            <i class="fa fa-credit-card"></i>
                                Pricing
                        </a>
                    </li>
                    <li>
                        <a href="http://pixelyzer.freeforums.net/" target="_blank">
                            <i class="fa fa-users"></i>
                                Forum
                        </a>
                    </li>
                    <li>
                        <a href="#" routerLink="/contacts">
                            <i class="fa fa-envelope-o"></i>
                                Contacts
                        </a>
                    </li>
                    <li>
                        <a href="" routerLink="/help">
                            <i class="fa fa-question-circle"></i>
                                Help
                        </a>
                    </li>                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <router-outlet></router-outlet>
    <footer class="footer">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                            Home
                            </a>
                        </li>
                        <li>
                            <a href="http://pixelyzer.freeforums.net/" target="_blank">
                            Forum
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            Contacts
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            FAQ
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="social-area pull-right">
                    <a class="btn btn-social btn-facebook btn-simple">
                    <i class="fa fa-facebook-square"></i>
                    </a>
                    <a class="btn btn-social btn-twitter btn-simple">
                    <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-social btn-pinterest btn-simple">
                    <i class="fa fa-youtube"></i>
                    </a>
                </div>
                <div class="copyright">
                    &copy; 2019 <a href="#">Dev Team XPTO</a>
                </div>
            </div>
        </footer>